* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region utilities */
:root {
    --db-light: #ffffff;
    --db-lightblue: #b4d0e7;
    --db-dark: #000000;
    --db-buttons: #0061ff;
    --db-green: #a2d39b;
    --db-darkblue: #0093ce;
    --db-darkred: #61082b;
    --db-lightred: #ff1c1c;
    --db-red: #d5001f;
    --db-darkerblue: #0d2481;
    --db-yellow: #ffd830;
}

.d-flex {
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.container-95 {
    width: 95%;
    margin: auto;
}

.container-80 {
    width: 80%;
    margin: auto;
}

.container-70 {
    width: 80%;
    margin: auto;
}

/* #endregion utilities */

/* #region debug */
.debug .menu-left, 
.debug .menu-right {
    height: 80px;
    background-color: var(--db-green);
    width: 50%;
}

.debug .container-80{
    height: 700px;
    background-color: #0093ce;
}

.debug .col-4{
    padding: 1rem;
    height: 800px;
    background-color: #61082b;
}

.debug .col-2{
    padding: 1rem;
    height: 300px;
    background-color: #6eb832;
}

.debug .col-12{
    margin: auto;
    height: 300px;
    background-color: #811478;
}


.debug .partners img{
    height: 600px;
    width: 60%;
    background-color: #0061ff;
}

.debug .content{
    height: 600px;
    width: 40%;
    background-color: #ffd830;
}

.debug .users .container-70{
    height: 300px;
    background-color: #0d2481;
}
/* #endregion debug */

/* #region header */

.menu-left{
    width: 50%;
    align-items: center;
    padding: 1rem;
}

.menu-right{
    width: 50%;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

.d-flex li{
    padding: 0 1rem;
    list-style: none;
}

.d-flex a{
    text-decoration: none;
}

.btn{
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.3rem 0.6rem;
}


/* #endregion header */

/* #region mian */
.jumbotron{
    background-color: #b4d0e7;
}

.col-4{
    width: calc(100% / 12 * 4);
}

.col-2{
    width: 50%;
}

.col-12{
    width: calc(100% / 12 * 12);
}
/* #endregion mian */

/* #region footer */
/* #endregion footer */