* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region utilities */
:root {
    --db-light: #ffffff;
    --db-lightblue: #b4d0e7;
    --db-dark: #000000;
    --db-buttons: #0061ff;
    --db-green: #a2d39b;
    --db-darkblue: #0093ce;
    --db-darkred: #61082b;
    --db-lightred: #ff1c1c;
    --db-red: #d5001f;
    --db-darkerblue: #0d2481;
    --db-yellow: #ffd830;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.container-95 {
    width: 95%;
    margin: auto;
}

.container-80 {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.container-70 {
    width: 80%;
    margin: auto;
    max-width: 1152px;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6)
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.ptb-1 {
    padding: 1rem 0;
}

.ptb-2 {
    padding: 2rem 0;
}

.m-2 {
    margin: 2rem;
}

.grey {
    color: grey;
}

.hr {
    margin-left: 2rem;
    width: 30%;
    border-top: 1px solid lightgray;
}

.mw-4 {
    min-width: (100% / 12 * 4);
}

.bc-grey {
    background-color: #f5f5f5;
}

/* #endregion utilities */

/* #region debug */
.debug .menu-left,
.debug .menu-right {
    height: 80px;
    background-color: var(--db-green);
    width: 50%;
}

.debug .container-80 {
    height: 700px;
    background-color: #0093ce;
}

.debug .col-4 {
    padding: 1rem;
    height: 800px;
    background-color: #61082b;
}

.debug .col-2 {
    padding: 1rem;
    height: 300px;
    background-color: #6eb832;
}

.debug .col-12 {
    margin: auto;
    height: 300px;
    background-color: #811478;
}


.debug .partners img {
    height: 600px;
    width: 60%;
    background-color: #0061ff;
}

.debug .content {
    height: 600px;
    width: 40%;
    background-color: #ffd830;
}

.debug .users .container-70 {
    height: 300px;
    background-color: #0d2481;
}

/* #endregion debug */

/* #region header */

.menu-left {
    width: 50%;
    align-items: center;
    padding: 1rem;
}

.menu-right {
    width: 50%;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

#app-header li {
    padding: 0 1rem;
    list-style: none;
}

.container-95 a:hover {
    color: rgb(1, 194, 253);
    border-bottom: 5px solid rgb(1, 194, 253);
}

header a {
    padding: 1rem 0;
}

.d-flex a {
    text-decoration: none;
}

.btn-small {
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
}

.btn {
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.6rem 1rem;
}

.btn-black {
    background-color: white;
    color: black;
    padding: 0.6rem 1rem;
    border: 1px solid black;
}

/* #endregion header */

/* #region mian */

/* jumbo */
.jumbotron {
    background-color: #b4d0e7;
    margin-bottom: 130px;
}

.jumbotron .container-80 {
    margin-bottom: 2rem;
}

.jumbotron h1 {
    padding: 2rem 0;
    font-weight: 800;
    font-size: 4rem;
}

.jumbo-image {
    width: 100%;
}

img.jumbo-image.ptb-1 {
    margin-bottom: -80px;
}

.drop-down {
    margin: 2rem 0;
}

.drop-down i {
    color: #000000;
}

/* plans */

.plans h1 {
    margin-left: 2rem;
    margin-top: 5rem;
    font-size: 3rem;
}

.input {
    margin: 2rem 0;
}

.input input {
    margin-left: 2rem;
}

.plans .card {
    height: 100%;
    border: 1px solid grey;
    -webkit-box-shadow: 11px 15px 41px -9px #000000;
    -moz-box-shadow: 11px 15px 41px -9px #000000;
    -o-box-shadow: 11px 15px 41px -9px #000000;
    box-shadow: 11px 15px 41px -9px #000000;
}

.group {
    border-bottom: 1px solid grey;
    padding: 0.4rem;
    text-align: center;
}

.plan-type {
    line-height: 2.5rem;
}

.plan-offer .row,
.options .row {
    padding: 0.5rem 0;
}

.button {
    text-align: center;
    margin-bottom: 2rem;
}

.plans .col-4 {
    margin: 2rem;
}

.buy-now a {
    text-decoration: underline;
    color: #36b5e7;
}

.options i {
    color: var(--db-buttons);
}

.enterprise p {
    margin-top: 2rem;
}

.enterprise .col-4 {
    justify-content: end;
    height: 10%;
}

/* partners */

.partners {
    margin: 3rem 0;
}

.partners .col-4 {
    margin: 2rem
}

/* more */

.more h1 {
    margin-left: 2rem;
    margin-top: 5rem;
    font-size: 2.5rem;
}

.more img {
    width: 100%;
}

.more .card {
    padding: 2rem;
}

.more p {
    margin-top: 2rem;
}


/* users */

.users {
    margin-bottom: 5rem;
}

.users h1 {
    margin-left: 2rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2.5rem;
}

.users a {
    color: #0093ce
}

/* brand */

.col-6 img {
    width: 100%;
    padding: 3rem;
    filter: invert(1);
}

.brand [class^="card"] {
    min-height: 500px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card-green {
    background-color: var(--db-green);
    border: 15px solid #ffffff94;
}

.card-blackred {
    background-color: var(--db-darkred);
}

.card-dark-blue {

    background-color: var(--db-darkblue);
}

.card-light-red {
    background-color: var(--db-lightred);
}

.card-red {
    background-color: var(--db-red);
}

.card-light-blue {
    background-color: var(--db-lightblue);
}

.card-blue {
    background-color: var(--db-darkerblue);
}

.card-yellow {
    background-color: var(--db-yellow);
}

.agency {
    background-color: var(--db-lightblue);
}

.agency .container-70 {
    padding: 6rem;
}

.agency h1 {
    font-size: 2.5rem;
    color: var(--db-darkred);
}

.agency .col-4 {
    justify-content: center;
    align-items: center;
}

.agency-btn {
    background-color: #f5f5f5;
    color: black;
    padding: 0.6rem 3rem;
}

/* faq */

.faq {
    display: flex;
    margin-bottom: 5rem;
}

.faq .container-70 {
    padding: 2rem;
}

.faq h1 {
    font-size: 2.5rem;
    margin: 4rem 0;
}

.accordion-item {
    padding: 2rem;
    margin-bottom: 1rem;
    -webkit-box-shadow: 11px 15px 41px -9px #000000;
    -moz-box-shadow: 11px 15px 41px -9px #000000;
    -o-box-shadow: 11px 15px 41px -9px #000000;
    box-shadow: 11px 15px 41px -9px #000000;
}

.accordion-link {
    font-size: 1.5rem;
    font-weight: 600;
    color: black;
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.accordion-link i {
    color: var(--db-darkblue);
    padding: 0.5rem;
}

.accordion-link .fa-minus {
    display: none;
}

.answer {
    max-height: 0;
    overflow: hidden;
    position: relative;
    color: #000000;
    transition: max-height 650ms;
    padding-bottom: 1rem;
}

.answer::before {
    content: "";
    position: absolute;
    width: 0.6rem;
    height: 90%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.answer video {
    padding: 1rem 2rem;
}

.answer strong {
    font-size: 2rem;
}

.answer p {
    padding: 2rem;
    font-size: 1.5rem;
    color: black;
}

.accordion-item:target .answer {
    max-height: 700px;
}

.accordion-item:target .accordion-link .fa-plus {
    display: none;
}

.accordion-item:target .accordion-link .fa-minus {
    display: block;
}

/* #endregion mian */

/* #region footer */

#app-footer {
    background-color: #000000;
}

.col-footer {
    padding: 4rem 1rem;
    line-height: 3rem;
    width: calc(100% / 5);
}

.col-footer a {
    text-decoration: none;
    color: white;
}

.col-footer li {
    list-style: none;
}

.col-footer h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.hr-footer {
    margin-left: 1rem;
    width: 10%;
}

.lenguage {
    padding: 4rem 1rem;
    color: lightgrey;
}

/* #endregion footer */