* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* #region utilities */
:root {
    --db-light: #ffffff;
    --db-lightblue: #b4d0e7;
    --db-dark: #000000;
    --db-buttons: #0061ff;
    --db-green: #a2d39b;
    --db-darkblue: #0093ce;
    --db-darkred: #61082b;
    --db-lightred: #ff1c1c;
    --db-red: #d5001f;
    --db-darkerblue: #0d2481;
    --db-yellow: #ffd830;
}

.d-flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.container-95 {
    width: 95%;
    margin: auto;
}

.container-80 {
    width: 80%;
    margin: auto;
    max-width: 1200px;
}

.container-70 {
    width: 80%;
    margin: auto;
    max-width: 1152px;
}

.col-2 {
    width: calc(100% / 12 * 2);
}

.col-4 {
    width: calc(100% / 12 * 4);
}

.col-6 {
    width: calc(100% / 12 * 6)
}

.col-8 {
    width: calc(100% / 12 * 8);
}

.col-10 {
    width: calc(100% / 12 * 10);
}

.col-12 {
    width: calc(100% / 12 * 12);
}

.ptb-1 {
    padding: 1rem 0;
}

.ptb-2 {
    padding: 2rem 0;
}

.m-2 {
    margin: 2rem;
}

.grey {
    color: grey;
}

/* #endregion utilities */

/* #region debug */
.debug .menu-left,
.debug .menu-right {
    height: 80px;
    background-color: var(--db-green);
    width: 50%;
}

.debug .container-80 {
    height: 700px;
    background-color: #0093ce;
}

.debug .col-4 {
    padding: 1rem;
    height: 800px;
    background-color: #61082b;
}

.debug .col-2 {
    padding: 1rem;
    height: 300px;
    background-color: #6eb832;
}

.debug .col-12 {
    margin: auto;
    height: 300px;
    background-color: #811478;
}


.debug .partners img {
    height: 600px;
    width: 60%;
    background-color: #0061ff;
}

.debug .content {
    height: 600px;
    width: 40%;
    background-color: #ffd830;
}

.debug .users .container-70 {
    height: 300px;
    background-color: #0d2481;
}

/* #endregion debug */

/* #region header */

.menu-left {
    width: 50%;
    align-items: center;
    padding: 1rem;
}

.menu-right {
    width: 50%;
    justify-content: end;
    align-items: center;
    padding: 1rem;
}

.d-flex li {
    padding: 0 1rem;
    list-style: none;
}

.d-flex a {
    text-decoration: none;
}

.btn-small {
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.3rem 0.6rem;
    text-decoration: none;
}

.btn {
    background-color: #0061ff;
    color: #ffffff;
    padding: 0.6rem 1rem;
}

.btn-black {
    background-color: white;
    color: black;
    padding: 0.6rem 1rem;
    border: 1px solid black;
}

/* #endregion header */

/* #region mian */
.jumbotron {
    background-color: #b4d0e7;
    background-position: 90%;
}

.jumbotron .container-80 {
    margin-bottom: 2rem;
}

.jumbotron h1 {
    padding: 2rem 0;
    font-weight: 800;
    font-size: 4rem;
}

.jumbo-image {
    width: 100%;
}

.plans h1 {
    margin-left: 2rem;
    margin-top: 5rem;
    font-size: 3rem;
}

.input {
    margin: 2rem 0;
}

.input input {
    margin-left: 2rem;
}

.card {
    height: 100%;
    border: 1px solid grey;
}

.group {
    border-bottom: 1px solid grey;
    padding: 0.4rem;
    text-align: center;
}

.plan-type {
    line-height: 2.5rem;
}

.plan-offer .row,
.options .row {
    padding: 0.5rem 0;
}

.button {
    text-align: center;
    margin-bottom: 2rem;
}

.plans .col-4 {
    margin: 2rem;
}

.buy-now a {
    text-decoration: underline;
    color: #36b5e7;
}

.options i {
    color: var(--db-buttons);
}

.enterprise p {
    margin-top: 2rem;
}

.enterprise .col-4 {
    justify-content: end;
    height: 10%;
}

.partners{
    margin: 3rem 0;
}

.partners .col-4 {
    margin: 2rem
}




/* #endregion mian */

/* #region footer */
/* #endregion footer */